#!/usr/bin/make -f

PACKAGE = libpciaccess0

%:
	dh $@ --with quilt --builddirectory=build/

override_dh_auto_configure:
	dh_auto_configure -- \
		-Ddefault_library=both \
		-Dpci-ids=\$${prefix}/share/misc \
		-Dzlib=enabled

override_dh_makeshlibs:
	dh_makeshlibs -V'libpciaccess0 (>= 0.12.902)' --add-udeb=$(PACKAGE)-udeb -- -c4
